<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <h3 class="mat-h3">Administration</h3>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 150px;">
    <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Folder icon">folder</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Info icon">info</mat-icon>
  </div>
</mat-toolbar>
<div class="mat-app-background">
  <router-outlet></router-outlet>
</div>
